<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{LAUNCHD_PREFIX}}.pi-cockpit</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{NODE_PATH}}</string>
        <string>{{VAULT_PATH}}/pi-cockpit/hub/server.js</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>NODE_ENV</key>
        <string>production</string>
        <key>PORT</key>
        <string>3099</string>
        <key>PATH</key>
        <string>{{NODE_PATH}}/../:/usr/local/bin:/usr/bin:/bin</string>
    </dict>

    <key>WorkingDirectory</key>
    <string>{{VAULT_PATH}}/pi-cockpit/hub</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>{{VAULT_PATH}}/logs/pi-cockpit-out.log</string>

    <key>StandardErrorPath</key>
    <string>{{VAULT_PATH}}/logs/pi-cockpit-err.log</string>

    <key>ThrottleInterval</key>
    <integer>5</integer>
</dict>
</plist>
